/node_modules
# .DS_Store
# /.vscode/
/genai_env

# /user_memory
# /uploaded_docs

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
ml_env/
python_env/

# Environment variables
# Logs
*.log

# VS Code
.vscode/
/Yogesh.ipynb
/lab4